<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active"  href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/add">ADD PATIENT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/list">VIEW PATIENT LIST</a>
    </li>
  </ul>