<%- include("partials/header") %> <%- include("partials/navbar") %>
<div class=" bg-info position-relative mt-5 " style="height: 500px">
<form class="position-absolute top-50 start-50 translate-middle d-flex flex-column "
                                                           action="/add" method="post">
    <input
    class="p-3"
     type="text"
     name="username"
     placeholder="Enter Patient Name"
     required
    >
    <input
    class="p-3"
     type="number"
     name="age"
     placeholder="Enter Patient age"
     required
    >
    <input
    class="p-3"
     type="date"
     name="dob"
     placeholder="Date of Birth"
     required
    >
    <input
    class="p-3"
     type="text"
     name="condition"
     placeholder="Enter Patient Condition"
     required
    >
    
    <input
    class="p-3"
     type="text"
     name="Tablet"
     placeholder="Enter Tablets"
     required
    >
    <button class="btn btn-primary" >ADD PATIENT</button>
</form>
</div>   
<%- include("partials/footer") %>


